body,html{
    font-family: 'Dosis', sans-serif;
    height: 100%;
    background-color: rgba(250, 250, 250, 50);
}
a,
a:focus,
a:hover{
    color: #000000;
    text-decoration: none;
}

a:hover{
    border-bottom: .15rem solid #0e6655 ;
}
.router-link-exact-active{
    border-bottom: .15rem solid #0e6655 ;
}

.logo{
    margin-top: 20px;
    font-weight: bold;
    float: left;
}
.nav{
    margin-top: 15px;
    float: right;
    font-size: 1.1em;
}
header{
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.carousel-caption {
    color: #000 !important;
    top: 10rem;
    z-index: 10;
}
  
.carousel-item {
    height: 40rem;
    background-color: rgba(250, 250, 250, 50);
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
.carousel-indicators .active {
    background-color: #273746;
}
.carousel-indicators li {
    background-color: #abb2b9;
}
.carousel-control-next, .carousel-control-prev {
    font-size: 3rem;
    font-weight: bold;
    color: #abb2b9;
}
.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
    color: #273746;
    text-decoration: none;
    outline: 0;
    opacity: .9;
    border-bottom: 0px; 
}


@media (max-width: 450px) {
    .nav {
        width: 100%;
        margin-top: 10px;
        float: none;
        font-size: 1em;    
    }
    .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        width: 100%;
    }
    .carousel-caption {
        top: 1rem;
    }
}
 @media (min-width: 450px) {
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
      
    }
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-primary{
    background-color: #0e6655;
    border-color: #0e6655;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #117a65;
}
.btn-outline-primary{
    border-color: #117a65;
    color: #117a65;
}
.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
    background-color: #117a65;
    border-color: #0e6655;
}
.vue-dialog .dialog-content {
    font-size: 18px !important;
}
.vue-dialog .vue-dialog-buttons {
    border-top: 1px solid #bbb !important;
}
.vue-dialog-button {
    font-size: 14px !important;
}